<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.jiapei.mapper.HospitalMapper" >
  <cache></cache>
  <resultMap id="BaseResultMap" type="com.woniu.jiapei.model.Hospital" >
    <id column="hospital_id" property="hospitalId" jdbcType="INTEGER" />
    <result column="hospitalname" property="hospitalname" jdbcType="VARCHAR" />
    <result column="bankcard" property="bankcard" jdbcType="VARCHAR" />
    <result column="rent" property="rent" jdbcType="DECIMAL" />
    <result column="revenueshare" property="revenueshare" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="distributor_id" property="distributorId" jdbcType="INTEGER" />
    <result column="contactor_id" property="contactorId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="zone_id" property="zoneId" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="BIT" />
  </resultMap>

  <resultMap id="BaseResultMapContactorDistributor" type="com.woniu.jiapei.model.Hospital" extends="BaseResultMap">
    <association property="distributor" column="distributor_id" select="com.woniu.jiapei.mapper.UserInfoMapper.selectByPrimaryKey"></association>
    <association property="contactor" column="contactor_id" select="com.woniu.jiapei.mapper.UserInfoMapper.selectByPrimaryKey"></association>

  </resultMap>
  <!--连接医院科室-->

  <resultMap id="BaseResultMapContactorDepartment" type="com.woniu.jiapei.model.Hospital" extends="BaseResultMapContactorDistributor">
    <collection property="departments" column="hospital_id" select="com.woniu.jiapei.mapper.DepartmentMapper.findByHospitalId"></collection>
    <collection property="departmentList" column="hospital_id" select="com.woniu.jiapei.mapper.DepartmentMapper.findByHospitalId"></collection>
  </resultMap>

  <resultMap id="BaseResultMapContactorDepartmentPCZ" type="com.woniu.jiapei.model.Hospital" extends="BaseResultMapContactorDepartment">
         <association property="province" column="province_id" select="com.woniu.jiapei.mapper.ProvinceMapper.selectByPrimaryKey"></association>
         <association property="city" column="city_id" select="com.woniu.jiapei.mapper.CityMapper.selectByPrimaryKey"></association>
         <association property="zone" column="zone_id" select="com.woniu.jiapei.mapper.ZoneMapper.selectByPrimaryKey"></association>
  </resultMap>
  <!--  查询所有方法-->
  <select id="findAll" resultMap="BaseResultMapContactorDepartmentPCZ">
select * from tb_jp_hospital where isdelete=1
</select>



  <resultMap id="BaseResultMapWithDepartment" type="com.woniu.jiapei.model.Hospital" extends="BaseResultMap">
    <collection property="departmentList" column="hospital_id" select="com.woniu.jiapei.mapper.DepartmentMapper.findByHospitalId"></collection>
  </resultMap>
  <select id="findOneWithDepartment" parameterType="int" resultMap="BaseResultMapWithDepartment">
    select * from tb_jp_hospital where hospital_id=#{hospitalId}
  </select>
  <resultMap id="BaseResultMapWithUserInfo" type="com.woniu.jiapei.model.Hospital" extends="BaseResultMap">
    <collection property="userInfo" column="contactor_id" select="com.woniu.jiapei.mapper.UserInfoMapper.findById"></collection>
  </resultMap>



  <select id="findAllInvestment" parameterType="int" resultMap="BaseResultMapWithUserInfo">
    select * from tb_jp_hospital where distributor_id=#{userinfoId}
  </select>

  <select id="findByRepairMan" parameterType="int" resultMap="BaseResultMap">
    select * from tb_jp_hospital where hospital_id in (select hospital_id from tb_jp_repairman where repairman_id=#{userInfoId})
  </select>

  <select id="findByHospitalMan" parameterType="int" resultMap="BaseResultMap">
    select * from tb_jp_hospital where contactor_id=#{userinfoId}
  </select>

  <select id="findByDepartmentMan" parameterType="int" resultMap="BaseResultMap">
    select * from tb_jp_hospital where hospital_id in (select hospital_id from tb_jp_department where departor_id = #{userInfoId})
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    hospital_id, hospitalname, bankcard, rent, revenueshare, create_time, distributor_id,
    contactor_id, province_id, city_id, zone_id, isdelete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMapContactorDepartmentPCZ" parameterType="com.woniu.jiapei.model.HospitalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_jp_hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMapContactorDepartmentPCZ" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_jp_hospital
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_jp_hospital
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.jiapei.model.HospitalExample" >
    delete from tb_jp_hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.jiapei.model.Hospital" >
    insert into tb_jp_hospital (hospital_id, hospitalname, bankcard,
      rent, revenueshare, create_time,
      distributor_id, contactor_id, province_id,
      city_id, zone_id, isdelete
      )
    values (#{hospitalId,jdbcType=INTEGER}, #{hospitalname,jdbcType=VARCHAR}, #{bankcard,jdbcType=VARCHAR},
      #{rent,jdbcType=DECIMAL}, #{revenueshare,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{distributorId,jdbcType=INTEGER}, #{contactorId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER},
      #{cityId,jdbcType=INTEGER}, #{zoneId,jdbcType=INTEGER}, #{isdelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.jiapei.model.Hospital" >
    insert into tb_jp_hospital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        hospital_id,
      </if>
      <if test="hospitalname != null" >
        hospitalname,
      </if>
      <if test="bankcard != null" >
        bankcard,
      </if>
      <if test="rent != null" >
        rent,
      </if>
      <if test="revenueshare != null" >
        revenueshare,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="distributorId != null" >
        distributor_id,
      </if>
      <if test="contactorId != null" >
        contactor_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="zoneId != null" >
        zone_id,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hospitalId != null" >
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="hospitalname != null" >
        #{hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="bankcard != null" >
        #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=DECIMAL},
      </if>
      <if test="revenueshare != null" >
        #{revenueshare,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributorId != null" >
        #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="contactorId != null" >
        #{contactorId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="zoneId != null" >
        #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.jiapei.model.HospitalExample" resultType="java.lang.Integer" >
    select count(*) from tb_jp_hospital
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_jp_hospital
    <set >
      <if test="record.hospitalId != null" >
        hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      </if>
      <if test="record.hospitalname != null" >
        hospitalname = #{record.hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="record.bankcard != null" >
        bankcard = #{record.bankcard,jdbcType=VARCHAR},
      </if>
      <if test="record.rent != null" >
        rent = #{record.rent,jdbcType=DECIMAL},
      </if>
      <if test="record.revenueshare != null" >
        revenueshare = #{record.revenueshare,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.distributorId != null" >
        distributor_id = #{record.distributorId,jdbcType=INTEGER},
      </if>
      <if test="record.contactorId != null" >
        contactor_id = #{record.contactorId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.zoneId != null" >
        zone_id = #{record.zoneId,jdbcType=INTEGER},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_jp_hospital
    set hospital_id = #{record.hospitalId,jdbcType=INTEGER},
      hospitalname = #{record.hospitalname,jdbcType=VARCHAR},
      bankcard = #{record.bankcard,jdbcType=VARCHAR},
      rent = #{record.rent,jdbcType=DECIMAL},
      revenueshare = #{record.revenueshare,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      distributor_id = #{record.distributorId,jdbcType=INTEGER},
      contactor_id = #{record.contactorId,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      zone_id = #{record.zoneId,jdbcType=INTEGER},
      isdelete = #{record.isdelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.jiapei.model.Hospital" >
    update tb_jp_hospital
    <set >
      <if test="hospitalname != null" >
        hospitalname = #{hospitalname,jdbcType=VARCHAR},
      </if>
      <if test="bankcard != null" >
        bankcard = #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        rent = #{rent,jdbcType=DECIMAL},
      </if>
      <if test="revenueshare != null" >
        revenueshare = #{revenueshare,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributorId != null" >
        distributor_id = #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="contactorId != null" >
        contactor_id = #{contactorId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="zoneId != null" >
        zone_id = #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.jiapei.model.Hospital" >
    update tb_jp_hospital
    set hospitalname = #{hospitalname,jdbcType=VARCHAR},
      bankcard = #{bankcard,jdbcType=VARCHAR},
      rent = #{rent,jdbcType=DECIMAL},
      revenueshare = #{revenueshare,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      distributor_id = #{distributorId,jdbcType=INTEGER},
      contactor_id = #{contactorId,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      zone_id = #{zoneId,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=BIT}
    where hospital_id = #{hospitalId,jdbcType=INTEGER}
  </update>

  <select id="selectByDistributorId" resultMap="BaseResultMapWithDepartment">
    select * from tb_jp_hospital
    <where>
      <if test="distributorId != null and distributorId != -1">
        and distributor_id = #{distributorId}
      </if>
    </where>
  </select>

  <select id="selectByVisibleCondition" resultMap="BaseResultMap">
    select * from tb_jp_hospital
    <where>
      <if test="provinceId != null and provinceId != -1">
        and province_id = #{provinceId}
      </if>
      <if test="cityId != null and cityId != -1">
        and city_id = #{cityId}
      </if>
      <if test="zoneId != null and zoneId != -1">
        and zone_id = #{zoneId}
      </if>
    </where>
    order by rent desc
    limit 15
  </select>

  <select id="selectByContactorId" resultMap="BaseResultMapWithDepartment">
    select * from tb_jp_hospital
    <where>
      <if test="contactorId != null">
        and contactor_id = #{contactorId}
      </if>
    </where>
  </select>

  <select id="selectByDepartorId" resultMap="BaseResultMapWithDepartment">
    select * from tb_jp_hospital
    <where>
      <if test="departorId != null">
        and hospital_id = (
            select hospital_id where departor_id = #{departorId}
        )
      </if>
    </where>
  </select>

  <select id="getCityListByProvinceId" resultType="String">
    select (select city_name from city where city_id = a.city_id) from tb_jp_hospital a
    <where>
      <if test="provinceId != null and provinceId != -1">
        and province_id = #{provinceId}
      </if>
    </where>
    group by city_id
    order by count(*) desc
    limit 7
  </select>

  <select id="getCountListByProvinceId" resultType="int">
    select count(*) from tb_jp_hospital a
    <where>
      <if test="provinceId != null and provinceId != -1">
        and province_id = #{provinceId}
      </if>
    </where>
    group by city_id
    order by count(*) desc
    limit 7
  </select>

  <select id="findHospitalByDistributorId" resultMap="BaseResultMap">
    select * from tb_jp_hospital
    where distributor_id = #{userId}
  </select>
</mapper>
