<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.jiapei.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.woniu.jiapei.model.Message" >
    <id column="message_id" property="messageId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="message_type_id" property="messageTypeId" jdbcType="INTEGER" />
    <result column="message_detail_id" property="messageDetailId" jdbcType="INTEGER" />
    <result column="message_way" property="messageWay" jdbcType="VARCHAR" />
    <result column="message_condition" property="messageCondition" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    message_id, role_id, message_type_id, message_detail_id, message_way, message_condition, 
    create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.woniu.jiapei.model.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_jp_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_jp_message
    where message_id = #{messageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_jp_message
    where message_id = #{messageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.jiapei.model.MessageExample" >
    delete from tb_jp_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.jiapei.model.Message" >
    insert into tb_jp_message (message_id, role_id, message_type_id, 
      message_detail_id, message_way, message_condition, 
      create_time)
    values (#{messageId,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{messageTypeId,jdbcType=INTEGER}, 
      #{messageDetailId,jdbcType=INTEGER}, #{messageWay,jdbcType=VARCHAR}, #{messageCondition,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.jiapei.model.Message" >
    insert into tb_jp_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="messageTypeId != null" >
        message_type_id,
      </if>
      <if test="messageDetailId != null" >
        message_detail_id,
      </if>
      <if test="messageWay != null" >
        message_way,
      </if>
      <if test="messageCondition != null" >
        message_condition,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="messageTypeId != null" >
        #{messageTypeId,jdbcType=INTEGER},
      </if>
      <if test="messageDetailId != null" >
        #{messageDetailId,jdbcType=INTEGER},
      </if>
      <if test="messageWay != null" >
        #{messageWay,jdbcType=VARCHAR},
      </if>
      <if test="messageCondition != null" >
        #{messageCondition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.jiapei.model.MessageExample" resultType="java.lang.Integer" >
    select count(*) from tb_jp_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_jp_message
    <set >
      <if test="record.messageId != null" >
        message_id = #{record.messageId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.messageTypeId != null" >
        message_type_id = #{record.messageTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.messageDetailId != null" >
        message_detail_id = #{record.messageDetailId,jdbcType=INTEGER},
      </if>
      <if test="record.messageWay != null" >
        message_way = #{record.messageWay,jdbcType=VARCHAR},
      </if>
      <if test="record.messageCondition != null" >
        message_condition = #{record.messageCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_jp_message
    set message_id = #{record.messageId,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=INTEGER},
      message_type_id = #{record.messageTypeId,jdbcType=INTEGER},
      message_detail_id = #{record.messageDetailId,jdbcType=INTEGER},
      message_way = #{record.messageWay,jdbcType=VARCHAR},
      message_condition = #{record.messageCondition,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.jiapei.model.Message" >
    update tb_jp_message
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="messageTypeId != null" >
        message_type_id = #{messageTypeId,jdbcType=INTEGER},
      </if>
      <if test="messageDetailId != null" >
        message_detail_id = #{messageDetailId,jdbcType=INTEGER},
      </if>
      <if test="messageWay != null" >
        message_way = #{messageWay,jdbcType=VARCHAR},
      </if>
      <if test="messageCondition != null" >
        message_condition = #{messageCondition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.jiapei.model.Message" >
    update tb_jp_message
    set role_id = #{roleId,jdbcType=INTEGER},
      message_type_id = #{messageTypeId,jdbcType=INTEGER},
      message_detail_id = #{messageDetailId,jdbcType=INTEGER},
      message_way = #{messageWay,jdbcType=VARCHAR},
      message_condition = #{messageCondition,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where message_id = #{messageId,jdbcType=VARCHAR}
  </update>
</mapper>